<header>
    <h1>{{judul}}</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tentang">Tentang Saya</a></li>
        <li><a href="/bantuan">Bantuan</a></li>
        <li><a href="/berita">Berita</a></li>
    </ul>
</header>